<!DOCTYPE html>
<html>
  <head>
    <title>微信管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
        body{
            color: #73879C; background: #F7F7F7;
        }
    </style>


  </head>

  <body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

      <%= render("layouts/navbar") %>

      <%= render("layouts/aside_menu") %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark"><%= yield :page_title %></h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">首页</a></li>

                  <%= yield :breadcrumb %>

<!--                  <li class="breadcrumb-item active">Dashboard v1</li>-->
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">

            <%= yield %>


          </div>
        </section>
      </div>
    </div>


  </body>
</html>
